#header {
    margin-top: 30px;
    margin-bottom: 50px;
  } 
  
  #water {
    position: relative;
    background-image: url('./assets/water/frame_1.png'); 
    
    clip-path: inset( -100vw -100vw -100vw 0 );
    
    width: 886px;
    height: 500px;
  }

  .image {
    background-repeat: no-repeat, repeat;
  }

  #content-container {
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
  
  #race-container {
    display: flex;
  }

  .fish {
    display: inline-block;
    
    position: absolute;
    transition: left .05s;
    left: 0;
    width: 200px;
    height: 100px;
  }

  #fish1 {
    top: 3%; 
  }
  
  #fish2 {
    top: 28%; 
  }
  
  #fish3 {
    top: 53%; 
  }

  #fish4 {
    top: 78%; 
  }

  #finish {
    width: 25px; 
  }
  
  #start-button {
    position: absolute;
    display:none;
    top: 45.6%;
  }

  .fiver {
    position: absolute;
    display:none;
    max-width: 150px;
    top: 45.6%;
  }

  /* .winner-fish-1 {
    background-image: url('./assets/fish1/winner.png'); 
  }

  .winner-fish-2 {
    background-image: url('./assets/fish2/winner.png'); 
  }

  .winner-fish-3 {
    background-image: url('./assets/fish3/winner.png'); 
  }

  .winner-fish-4 {
    background-image: url('./assets/fish4/winner.png'); 
  } */