#count-container {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.fish [id*="image-fish"] {
  width: 100%;
}

.crown {
  position: absolute;
  opacity: 0;
  display: none;
  width: 15%;
}

#crown-fish1 {
  left: 85%;
  top: 4%;
  transform: rotate(10deg);
}

#crown-fish2 {
  left: 62%;
  top: 7%;
  transform: rotate(20deg);
}

#crown-fish3 {
  left: 71%;
  top: 3%;
  transform: rotate(15deg);
}

#crown-fish4 {
  left: 91%;
  top: 11%;
  transform: rotate(30deg);
}

#start-button {
  position: absolute;
  top: 45.6%;
}

.counter {
  position: absolute;
  width: 26%;
}

#count-element1 {
  left: 36%;
}

#count-element2 {
  left: 36%;
}

#count-element3 {
  left: 36%;
}

#count-go {
  left: 35%;
  width: 28%;
}
