#header {
  margin-top: 30px;
  margin-bottom: 50px;
} 
  
#water {
  position: relative;
  background-image: url('./assets/water/frame_1.png'); 
  
  clip-path: inset( -100vw -100vw -100vw 0 );
  
  width: 886px;
  height: 500px;
}

.image {
  background-repeat: no-repeat, repeat;
}

#content-container {
  position: relative;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

#who-win-container {
  height: 70px;
}

#who-win-element {
  display: none;
}

#race-container {
  position: relative;
  display: flex;
}

#count-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.fish {
  display: inline-block;
  
  position: absolute;
  transition: all .6s, left .05s;
  left: 0;
  width: 200px;
  height: 100px;
}

#fish1 {
  top: 3%; 
}

#fish2 {
  top: 28%; 
}

#fish3 {
  top: 53%; 
}

#fish4 {
  top: 78%; 
}

#finish {
  width: 25px; 
}

.crown {
  position: absolute; 
  display: none;
  width: 15%;
}

#crown-fish1 {
  left: 158px; 
  top: 3px;
  transform: rotate(10deg);
}

#crown-fish2 {
  left: 115px; 
  top: 6px;
  transform: rotate(60deg);
}

#crown-fish3 {
  left: 148px; 
  top: 14px;
  transform: rotate(5deg);
}

#crown-fish4 {
  left: 175px;
  top: 9px;
  transform: rotate(30deg);
}

#start-button {
  position: absolute;
  display: none;
  top: 45.6%;
}

.counter {
  display: none;
  position: absolute;
  width: 26%;
}

#count-element1 {
  left: 36%;
}

#count-element2 {
  left: 36%;
}

#count-element3 {
  left: 36%;
}

#count-go {
  font-size: 50px;
  color: blue;
  display: none;
}

#restart-button {
   
}